/**
 * @Main scss for (Template/Project Name)
 * @project     - Autoprosper
 * @author      - 
 * @created_by  - Muhammad Mahdiul Islam
 * @created_at  - 
 * @modified_by -
 */
/* fonts import */
@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@400;500;600;700&display=swap");
/* fonts import -END */
/* reset, root */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  background-color: #fff;
  font-family: "Plus Jakarta Sans", sans-serif;
}

a {
  text-decoration: none;
  list-style: none;
}

input:focus-visible {
  outline: none;
}

button {
  border: none;
  background: transparent;
}

:root {
  --primary: #97A5C1;
  --primary-main: #00FFA2;
  --primary-light: #E2FFF5;
  --dark1: #001B44;
  --dark2: #4B5768;
  --dark3: #5D6878;
  --dark4: #8E97A6;
  --dark5: #B7BCC3;
  --dark6: #E5E8ED;
  --dark7: #ECEEF1;
  --gray5: #372E00;
  --dashboard: #F0F4F3;
}

/* reset, root - END */
@media (min-width: 1400px) {
  .container {
    max-width: 1416px;
  }
}

/* helper , base classes */
.text-clr-primary {
  color: var(--primary);
}

.text-clr-dark1 {
  color: var(--dark1);
}

.text-clr-dark2 {
  color: var(--dark2);
}

.text-clr-dark3 {
  color: var(--dark3);
}

.text-clr-dark4 {
  color: var(--dark4);
}

.text-clr-dark5 {
  color: var(--dark5);
}

.text-clr-dark6 {
  color: var(--dark6);
}

.text-clr-dark4 {
  color: var(--dark4);
}

.text-clr-gray5 {
  color: var(--gray5);
}

.bg-clr-dark1 {
  background-color: var(--dark1);
}

.bg-clr-dark7 {
  background-color: var(--dark7);
}

.bg-clr-primary-light {
  background-color: var(--primary-light);
}

.bg-clr-dashboard {
  background-color: var(--dashboard);
}

.fs-9 {
  font-size: 9px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.fs-10 {
  font-size: 10px;
  line-height: 15px;
}

.fs-12 {
  font-size: 12px;
  line-height: 18px;
}

.fs-14 {
  font-size: 14px;
  line-height: 21px;
}

.fs-6 {
  line-height: 26px !important;
}

.fs-18 {
  font-size: 18px;
  line-height: 28px;
}

.fs-32 {
  font-size: 32px;
  line-height: 41.6px;
}

.fs-1 {
  line-height: 58px !important;
}

.fs-44 {
  font-size: 44px;
  line-height: 57.2px;
}

.fw-light {
  font-weight: 300;
}

.fw-regular {
  font-weight: 400;
}

.fw-medium {
  font-weight: 500;
}

.fw-semi-bold {
  font-weight: 600;
}

.fw-bold {
  font-weight: 700;
}

.lh-normal {
  line-height: normal !important;
}

.lh-13 {
  line-height: 13px !important;
}

.lh-15 {
  line-height: 15.6px !important;
}

.lh-18 {
  line-height: 18.2px !important;
}

.lh-21 {
  line-height: 21px !important;
}

.lh-23 {
  line-height: 23.4px !important;
}

.lh-24 {
  line-height: 24px !important;
}

.lh-31 {
  line-height: 31.2px !important;
}

.letter-spacing-9 {
  letter-spacing: 0.9px;
}

.padding-5 {
  padding-block: 5px;
}

.pt-77 {
  padding-top: 77px;
}

.py-96 {
  padding-block: 96px;
}

.mt-90 {
  margin-top: 90px;
}

.py-48 {
  padding-block: 48px 29px;
}

.pb-22 {
  padding-bottom: 22px;
}

.pb-18 {
  padding-bottom: 18px;
}

.p-32 {
  padding: 32px 25px;
}

.margin-b1 {
  margin-bottom: 1px;
}

.height-300 {
  max-height: 300px;
  height: 100%;
}

.height-105 {
  max-height: 105px;
  height: 100%;
}

.sub-heading {
  max-width: 700px;
}

/* helper , base classes  - END*/
h1 {
  font-size: 56px;
  font-weight: 400;
  line-height: 72.8px;
  text-align: center;
  max-width: 720px;
  margin: auto;
}
h1 .highlight {
  background: linear-gradient(50deg, #FF3363 24.86%, #FFE664 40.98%, #00FFA2 91.85%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

h4 {
  max-width: 620px;
  line-height: 30px;
}

h5 {
  line-height: 30px !important;
}

.primary-btn {
  border-radius: 100px;
  background: var(--gradient-gradient_2, linear-gradient(90deg, #00FFA2 0%, #FFE664 100%));
  padding: 22px 32px;
  transition: all 0.3s linear;
}
.primary-btn:hover {
  background: var(--gradient-gradient_2, linear-gradient(180deg, #00FFA2 0%, #FFE664 100%));
  color: rgb(255, 1, 1);
}
.primary-btn:hover svg * {
  fill: rgb(255, 1, 1);
}

.common-btn {
  font-size: 10px;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.9px;
  text-transform: uppercase;
  color: #fff;
  background-color: var(--dark1);
  border: 1px solid transparent;
  border-radius: 100px;
  transition: all 0.3s linear;
}
.common-btn:hover {
  color: var(--dark2);
  border: 1px solid var(--dark2);
  background-color: #fff;
}

.secondary-btn {
  font-size: 10px;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.9px;
  text-transform: uppercase;
  color: var(--dark2);
  border: 1px solid var(--dark2);
  border-radius: 100px;
  transition: all 0.3s linear;
}
.secondary-btn:hover {
  color: #fff;
  border: 1px solid var(--dark1);
  background-color: var(--dark1);
}

.add-task-btn {
  display: flex;
  justify-content: center;
  font-size: 13px;
  font-weight: 700;
  line-height: normal;
  color: var(--dark1);
  background: var(--gradient-gradient_2, linear-gradient(90deg, #00FFA2 0%, #FFE664 100%));
  border-radius: 100px;
  border: 2px solid transparent;
  padding: 10px 20px;
  gap: 6px;
  transition: all 0.3s linear;
}
.add-task-btn:hover {
  color: var(--dark1);
  background: none;
  border: 1px solid;
  border-image-slice: 1;
  border-width: 2px;
  border-image-source: linear-gradient(90deg, #00FFA2 0%, #FFE664 100%);
  transition: all 0.2s linear;
}

.refresh-task-btn {
  display: flex;
  justify-content: center;
  font-size: 13px;
  font-weight: 700;
  line-height: normal;
  color: var(--dark1);
  background-color: var(--dark7);
  border-radius: 100px;
  border: 1px solid transparent;
  padding: 10px 20px;
  gap: 6px;
  transition: all 0.3s linear;
}
.refresh-task-btn:hover {
  color: var(--dark2);
  border: 1px solid var(--dark1);
  background: none;
}

.radius-16 {
  border-radius: 16px;
}

.radius-500 {
  border-radius: 500px;
}

.nav-wrap {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  max-width: 1728px;
  width: 100%;
  z-index: 1000;
}
.nav-wrap .dropdown-toggle::after {
  margin-left: 12px;
}

.hero {
  position: relative;
  background-image: url("../img/hero-bg.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding-block: 220px 407px;
}
.hero .live-chat {
  position: absolute;
  padding: 14px;
  border-radius: 50%;
  background: #FF3363;
  bottom: 30px;
  right: 30px;
}

.car-choosing form {
  border-radius: 12px;
  border: 1px solid var(--gradient-gradient_2, #00FFA2);
  background: var(--primary-white, #FFF);
  box-shadow: 0px 36px 72px -18px rgba(0, 27, 68, 0.25);
}
.car-choosing form .content {
  display: flex;
  flex-wrap: wrap;
  gap: 11px;
  justify-content: space-between;
}
.car-choosing form .content .cars label {
  position: relative;
  border-radius: 12px;
  border: 1px solid var(--dark-dark_5, #B7BCC3);
  background: rgba(255, 255, 255, 0.9);
  cursor: pointer;
  width: 203px;
  min-height: 105px;
  transition: all 0.3s linear;
}
.car-choosing form .content .cars label .select-btn {
  font-size: 9px;
  border: none;
  background: none;
}
.car-choosing form .content .cars label .tag {
  position: absolute;
  top: 12px;
  left: 12px;
  background-color: #FFE664;
  padding: 4px 8px;
  border-radius: 100px;
  font-size: 10px;
  letter-spacing: 0.9px;
}
.car-choosing form .content .cars input {
  display: none;
}
.car-choosing form .content .cars input:checked + label {
  border: 1px solid var(--dark1);
}
.car-choosing form .content .cars input:checked + label .car1 {
  display: block !important;
  margin-top: 14px;
}
.car-choosing form .content .cars input:checked + label .select-btn {
  display: none;
}
.car-choosing form .content .options {
  flex-wrap: wrap;
  gap: 24px;
}
.car-choosing form .content .options .form-floating > .form-control:not(:-moz-placeholder-shown) ~ label {
  opacity: 100;
  transform: none;
}
.car-choosing form .content .options .form-floating > .form-control-plaintext ~ label,
.car-choosing form .content .options .form-floating > .form-control:focus ~ label,
.car-choosing form .content .options .form-floating > .form-control:not(:placeholder-shown) ~ label,
.car-choosing form .content .options .form-floating > .form-select ~ label {
  opacity: 100;
  transform: none;
}
.car-choosing form .content .options .form-floating .form-control:focus {
  box-shadow: none;
}
.car-choosing form .content .options .form-floating .form-select {
  background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="8" height="4" viewBox="0 0 8 4" fill="none"><path d="M4 4L0 0H8L4 4Z" fill="%23001B44"/></svg>');
  background-size: 8px 4px;
  background-position: 265px 45px;
  padding: 34px 24px 15px 24px;
  min-width: 304px;
  border: 1px solid var(--dark4);
  border-radius: 12px;
  font-size: 18px;
  font-weight: 500;
  color: var(--dark1);
  height: 72px;
  line-height: normal;
}
.car-choosing form .content .options .form-floating .form-select:focus {
  box-shadow: none;
}
.car-choosing form .content .options .form-floating label {
  color: var(--dark4);
  font-weight: 700;
  font-size: 10px;
  padding: 12px 24px;
}
.car-choosing form .content .options .form-floating .form-control {
  min-height: 72px;
  padding: 34px 24px 15px 24px;
  min-width: 304px;
  border: 1px solid var(--dark4);
  border-radius: 12px;
  font-size: 18px;
  font-weight: 500;
  color: var(--dark1);
}
.car-choosing form .content .options .form-floating label {
  padding: 12px 24px;
}
.car-choosing form .content .toggle-btn {
  display: flex;
  align-items: center;
  margin-top: 8px;
  margin-bottom: 32px;
  gap: 12px;
}
.car-choosing form .content .toggle-btn h6 {
  color: #848B9A;
  font-size: 17px;
}
.car-choosing form .content .toggle-btn .switch {
  position: relative;
  display: inline-block;
  width: 65px;
  height: 36px;
}
.car-choosing form .content .toggle-btn .switch input {
  opacity: 0;
  width: 0;
  height: 0;
}
.car-choosing form .content .toggle-btn .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border: 1px solid #848B9A;
}
.car-choosing form .content .toggle-btn .slider:before {
  position: absolute;
  content: "";
  height: 22px;
  width: 22px;
  left: 7px;
  bottom: 6px;
  background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" viewBox="0 0 22 22" fill="none"><circle cx="11" cy="11" r="11" fill="%23848B9A"/><path d="M7 7L15 15" stroke="white"/><path d="M7 7L15 15" stroke="white"/><path d="M7 7L15 15" stroke="white"/><path d="M15 7L7 15" stroke="white"/></svg>');
  transition: 0.4s;
}
.car-choosing form .content .toggle-btn input:checked + .slider:before {
  transform: translateX(28px);
}
.car-choosing form .content .toggle-btn .slider.round {
  border-radius: 100px;
}
.car-choosing form .content .toggle-btn .slider.round:before {
  border-radius: 50%;
}
.car-choosing form .content .search {
  padding: 22px 0;
  border-radius: 100px;
  background: linear-gradient(90deg, #00FFA2 0%, #FFE664 100%);
}

.car-slider .splide .splide__arrows button svg {
  display: none;
}
.car-slider .splide .splide__arrows .splide__arrow {
  background: #fff;
  width: 56px;
  height: 56px;
  opacity: 100%;
}
.car-slider .splide .splide__arrows .splide__arrow--prev {
  background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="none"><g opacity="0.65"><path d="M6.52214 10.833H16.668V9.16634H6.52214L11.1888 4.49967L10.0013 3.33301L3.33464 9.99967L10.0013 16.6663L11.1888 15.4997L6.52214 10.833Z" fill="%230A1835"/></g></svg>');
  background-repeat: no-repeat;
  background-position: center center;
  left: -80px;
}
.car-slider .splide .splide__arrows .splide__arrow--next {
  background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="none"><path d="M13.4779 10.833H3.33203V9.16634H13.4779L8.8112 4.49967L9.9987 3.33301L16.6654 9.99967L9.9987 16.6663L8.8112 15.4997L13.4779 10.833Z" fill="%230A1835"/></svg>');
  background-repeat: no-repeat;
  background-position: center center;
  right: -80px;
}
.car-slider .splide .splide__pagination {
  display: none;
}
.car-slider .splide .splide__track .splide__list .splide__slide .car-card {
  padding: 24px;
  max-height: 462px;
  border-radius: 12px;
  border: 1px solid transparent;
  transition: all 0.3s linear;
  background: #fff;
}
.car-slider .splide .splide__track .splide__list .splide__slide .car-card .location h6 {
  font-size: 15px;
}
.car-slider .splide .splide__track .splide__list .splide__slide .car-card:hover {
  border-radius: 12px;
  border: 1px solid var(--gradient-gradient_2, #00FFA2);
  /* hover_card_shadow */
  box-shadow: 0px 36px 72px -18px rgba(0, 27, 68, 0.25);
}

.delivery h5 span {
  background: linear-gradient(90deg, #FF3363 57.9%, #FFE464 76.87%, #FFE664 76.88%, #F8E766 76.88%, #00FFA2 96.62%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 700;
}
.delivery .happy-clients {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.special-discount .tag,
.get-approved .tag {
  padding: 5px 10px;
  font-size: 12px;
  letter-spacing: 1.08px;
  border-radius: 100px;
  background-color: var(--dark7);
  display: inline;
}

.program-offer {
  background-image: url("../img/program-offer.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 576px 0 96px 0;
}
.program-offer h2 {
  max-width: 670px;
  text-wrap: balance;
}
.program-offer h2 span {
  background: linear-gradient(90deg, #FF3363 17.31%, #FFE464 30.97%, #FFE664 30.97%, #F8E766 30.97%, #00FFA2 45.19%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.customize .service .service-card {
  border-radius: 12px;
  border: 1px solid #00FFA2;
  background: #FFF;
  box-shadow: 0px 36px 72px -18px rgba(0, 27, 68, 0.25);
}
.customize .service .service-card .content {
  padding: 32px;
}

.ride-upgrades .content {
  padding-inline: 32px;
}
.ride-upgrades .content .tag {
  padding: 5px 10px;
  font-size: 12px;
  letter-spacing: 1.08px;
  border-radius: 100px;
  background-color: var(--dark7);
  display: inline;
}

.joining .content {
  padding-inline: 32px 64px;
  border-left: 1px solid #0A1835;
}

.personalized {
  background: linear-gradient(90deg, #00FFA2 0%, #FFE664 100%);
}
.personalized .content .personalized-card {
  padding: 24px;
  border-radius: 12px;
}

.guide .guide-card {
  border: 2px solid #fff;
  border-radius: 12px;
  overflow: hidden;
  transition: 0.2s linear;
  cursor: pointer;
}
.guide .guide-card .text {
  padding: 24px;
  text-align: start;
}
.guide .guide-card .text h6 {
  padding-bottom: 109px;
}
.guide .guide-card .text a {
  transition: 0.3s linear;
}
.guide .guide-card .text a:hover {
  color: var(--dark1);
}
.guide .guide-card:hover {
  border: 2px solid #00FFA2;
  box-shadow: 0px 36px 72px -18px rgba(0, 27, 68, 0.25);
}

footer {
  padding-block: 120px 60px;
}
footer a {
  transition: 0.2s linear;
}
footer a:hover {
  color: #fff;
}
footer a svg:hover * {
  fill: #fff;
}
footer ul {
  margin: 0;
  padding: 0;
}
footer ul li {
  list-style: none;
}
footer .footer-divider {
  border-bottom: 1px solid var(--primary);
  margin-block: 60px;
}
footer .copyright .divider {
  border-right: 1px solid var(--primary);
  height: 36px;
  margin-inline: 24px;
}

.appointments {
  padding: 24px 16px 30px 16px;
}
.appointments .status {
  padding: 4px 8px;
  background: #FFA114;
  border-radius: 100px;
}
.appointments .car-name {
  padding-bottom: 30px;
}
.appointments .divider {
  border-bottom: 1px solid var(--dark5);
}
.appointments .date {
  padding-bottom: 27px;
}
.appointments .date .week {
  border-inline: 1px solid var(--dark5);
  padding-inline: 19px;
}
.appointments .upcoming {
  gap: 20px;
}
.appointments .upcoming .check-event:hover svg * {
  transition: all 0.2s linear;
  fill: var(--dark1);
}

.mail-sms {
  margin-top: 12px;
  padding-block: 24px 0px;
  padding-bottom: 28px;
}
.mail-sms .notification-bars {
  padding-top: 16px;
  transition: all 0.3s linear;
  margin: auto;
}
.mail-sms .notification-bars .notify-border {
  border-bottom: 1px solid var(--dark5);
  padding-bottom: 22px;
}
.mail-sms .notification-bars:hover {
  background-color: var(--primary-main);
}
.mail-sms .notification-bars:hover .notify-border {
  border-bottom: 1px solid var(--primary-main);
}
.mail-sms .notification-bars:hover .user h6 {
  transition: 0.2s linear;
}
.mail-sms .notification-bars:hover .user h6 .msg {
  display: none;
}
.mail-sms .notification-bars:hover .user h6 .conversation {
  display: inline-block !important;
}

.sales {
  padding: 24px 16px 12px 16px;
}

.filter {
  margin-top: 12px;
  padding: 22px 16px 24px 16px;
}
.filter .filter-collapse {
  padding-bottom: 21px;
  border-bottom: 1px solid var(--dark5);
}
.filter form .form-floating .form-select {
  border: 1px solid var(--dark5);
  border-radius: 12px;
  padding: 34px 24px 15px 24px;
  height: 100%;
  font-size: 18px;
  font-weight: 500;
  line-height: normal;
  color: var(--dark1);
  background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="23" height="23" viewBox="0 0 23 23" fill="none"><path d="M11.5 14.7344L5.75 8.98437L7.09167 7.6427L11.5 12.051L15.9083 7.6427L17.25 8.98437L11.5 14.7344Z" fill="%23001B44"/></svg>');
  background-size: 23px 23px;
  background-position: right 24px bottom 15px;
}
.filter form .form-floating label {
  padding: 0;
  top: 12px;
  left: 24px;
  color: var(--dark4);
  font-size: 10px;
  font-weight: 700;
  line-height: normal;
  transform: none;
  opacity: 100;
}

.robot-chat {
  margin-top: 12px;
}
.robot-chat .robot {
  padding: 88px 0 110px 0;
}
.robot-chat .robot .img h6 {
  top: 9px;
  left: 64px;
}
.robot-chat .chat {
  margin-bottom: 12px;
  padding: 8px 28px 10px 16px;
  background-color: #E9F4F0;
  border-radius: 12px;
}
.robot-chat .chat-submit {
  margin-bottom: 12px;
  padding: 17px 40px 17px 16px;
  border: 1px solid var(--dark4);
  border-radius: 12px;
}
.robot-chat .chat-submit:focus-visible {
  outline: none;
}
.robot-chat label {
  position: absolute;
  top: 13px;
  right: 13px;
}
.robot-chat label input {
  display: none;
}

.summery .status {
  border-right: 1px solid var(--dark5);
}
.summery .status .points {
  padding-block: 32px;
}
.summery .status .total {
  padding-block: 11px;
}
.summery .funnels {
  max-width: 276px;
  width: 100%;
}
.summery .funnels .f-row1 {
  background-image: url("../img/f-row1.png");
  background-repeat: no-repeat;
  background-position: center center;
}
.summery .funnels .f-row2 {
  background-image: url("../img/f-row2.png");
  background-repeat: no-repeat;
  background-position: center center;
}
.summery .funnels .f-row3 {
  background-image: url("../img/f-row3.png");
  background-repeat: no-repeat;
  background-position: center center;
}
.summery .funnels .f-row4 {
  background-image: url("../img/f-row4.png");
  background-repeat: no-repeat;
  background-position: center center;
}
.summery .funnels .f-row5 {
  background-image: url("../img/f-row5.png");
  background-repeat: no-repeat;
  background-position: center center;
}

.search form label {
  display: block;
}
.search form input {
  width: 100%;
  background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 18 18" fill="none"><path d="M14.7 15.75L9.975 11.025C9.6 11.325 9.16875 11.5625 8.68125 11.7375C8.19375 11.9125 7.675 12 7.125 12C5.7625 12 4.60938 11.5281 3.66563 10.5844C2.72188 9.64063 2.25 8.4875 2.25 7.125C2.25 5.7625 2.72188 4.60938 3.66563 3.66563C4.60938 2.72188 5.7625 2.25 7.125 2.25C8.4875 2.25 9.64063 2.72188 10.5844 3.66563C11.5281 4.60938 12 5.7625 12 7.125C12 7.675 11.9125 8.19375 11.7375 8.68125C11.5625 9.16875 11.325 9.6 11.025 9.975L15.75 14.7L14.7 15.75ZM7.125 10.5C8.0625 10.5 8.85938 10.1719 9.51563 9.51563C10.1719 8.85938 10.5 8.0625 10.5 7.125C10.5 6.1875 10.1719 5.39063 9.51563 4.73438C8.85938 4.07813 8.0625 3.75 7.125 3.75C6.1875 3.75 5.39063 4.07813 4.73438 4.73438C4.07813 5.39063 3.75 6.1875 3.75 7.125C3.75 8.0625 4.07813 8.85938 4.73438 9.51563C5.39063 10.1719 6.1875 10.5 7.125 10.5Z" fill="%235D6878"/></svg>');
  background-repeat: no-repeat;
  background-position: top 17px left 18px;
  padding: 17px 44px;
  color: var(--dark4);
  font-size: 14px;
  font-weight: 500;
  line-height: normal;
  border: 1px solid var(--dark4);
  border-radius: 12px;
  margin-bottom: 12px;
}
.search .btns {
  display: flex;
  gap: 8px;
}
.search .btns .btn-check:checked + .btn,
.search .btns .btn.active,
.search .btns .btn.show,
.search .btns .btn:first-child:active,
.search .btns :not(.btn-check) + .btn:active {
  padding: 9px 18px;
  color: #fff;
  background-color: var(--dark1);
  border-radius: 96px;
  font-size: 14px;
  font-weight: 700;
  line-height: normal;
  border: 2px solid transparent;
  transition: all 0.3s linear;
}
.search .btns .btn {
  padding: 9px 18px;
  background-color: #fff;
  color: var(--dark4);
  border: 2px solid var(--dark4);
  border-radius: 96px;
  font-size: 14px;
  font-weight: 700;
  line-height: normal;
  transition: all 0.3s linear;
}
.search .border-150 {
  padding-inline: 150px;
  border-inline: 1px solid var(--dark5);
}

.dashboard-table {
  margin-top: 12px;
  padding-inline: 10px 24px;
}
.dashboard-table .table-content {
  padding-block: 10px;
}
.dashboard-table .table-content .icon {
  max-width: 86px;
  width: 100%;
  padding-block: 29px 28px;
  background-color: #F3F6F9;
  border-radius: 12px;
}
.dashboard-table .table-content .options form .form-floating .form-select {
  width: 250px;
  border: 1px solid var(--dark5);
  border-radius: 12px;
  padding: 24px 10px 10px 18px;
  height: 100%;
  font-size: 14px;
  font-weight: 500;
  line-height: normal;
  color: var(--dark1);
  background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 18 18" fill="none"><path d="M9 11.5313L4.5 7.03126L5.55 5.98126L9 9.43126L12.45 5.98126L13.5 7.03126L9 11.5313Z" fill="%23001B44"/></svg>');
  background-size: 18px 18px;
  background-position: right 18px bottom 10px;
}
.dashboard-table .table-content .options form .form-floating label {
  padding: 0;
  top: 8px;
  left: 18px;
  color: var(--dark4);
  font-size: 9px;
  font-weight: 700;
  line-height: normal;
  transform: none;
  opacity: 100;
}
.dashboard-table .table-content .btns {
  padding-left: 55px;
}
.dashboard-table .table-content .btns .common-btn {
  padding: 5px 48.5px;
  margin-bottom: 12px;
}
.dashboard-table .table-content .btns .secondary-btn {
  padding: 5px 28.5px;
}
.dashboard-table .divider {
  border-bottom: 1px solid var(--dark5);
}

.task-info .account {
  padding: 16px 12px;
  border-radius: 8px;
  margin-bottom: 12px;
}

.tracking {
  margin-block: 12px;
  padding-block: 24px;
}
.tracking .divider {
  border-bottom: 1px solid var(--dark5);
}
.tracking .status {
  margin-left: 8px;
  border-left: 1px dashed var(--dark1);
}
.tracking .status .content {
  margin-left: 16px;
  position: relative;
}
.tracking .status .content::after {
  position: absolute;
  content: "";
  background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none"><circle cx="8" cy="8" r="8" fill="%23E5E8ED"/><circle cx="8.00033" cy="8.00001" r="5.33333" fill="white"/></svg>');
  background-repeat: no-repeat;
  height: 16px;
  width: 16px;
  top: 0;
  left: -25px;
}
.tracking .status .active {
  position: relative;
}
.tracking .status .active::after {
  position: absolute;
  content: "";
  background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none"><circle cx="8" cy="8" r="8" fill="%23001B44"/><circle cx="8.00033" cy="8" r="5.33333" fill="white"/></svg>');
  background-repeat: no-repeat;
  height: 16px;
  width: 16px;
  top: 0;
  left: -25px;
}
.tracking .refresh-task-btn {
  margin-top: 12px;
}

.pagination-wrapper nav .custom-pagination {
  align-items: center;
  gap: 20px;
}
.pagination-wrapper nav .custom-pagination li {
  display: flex;
  justify-content: center;
  align-items: center;
}
.pagination-wrapper nav .custom-pagination li .page-link {
  margin: 0;
  width: 42px;
  height: 42px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100px;
  stroke: var(--dark4);
  stroke-width: 1px;
  color: #000;
  font-size: 16px;
  font-weight: 700;
  line-height: 26px;
  background: none;
  opacity: 100;
}
.pagination-wrapper nav .custom-pagination li .arrow {
  background: var(--primary-light);
}
.pagination-wrapper nav .custom-pagination li .arrow:hover {
  background: linear-gradient(90deg, #00FFA2 0%, #FFE664 100%);
}
.pagination-wrapper nav .custom-pagination li .active {
  color: #fff;
  background-color: var(--dark1);
  border: 1px solid var(--dark1);
}/*# sourceMappingURL=style.css.map */